<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/profiles">PROFILES</a>
      <a href="/dashboard">DASHBOARD</a>
    </div>
    {% block content%}{% endblock %}
    <footer>This the footer</footer>
  </body>
</html>
